In [1]:
#Import necessory libraries
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,ElementClickInterceptedException, ElementNotVisibleException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [45]:
#Lets first connect to the webdriver
driver=webdriver.Chrome(r"C:\Users\Admin\Desktop\flip robo\chromedriver.exe")

In [46]:
url =  'https://www.easemytrip.com/?utm_source=google&utm_medium=cpc&utm_campaign=14425253924&utm_content=128139253602&utm_term=easemytrip&utm_campaign=14425253924&utm_source=g_c&utm_medium=cpc&utm_term=e_easemytrip&adgroupid=128139253602&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDlT5YOtVqr_cBvopvRV97poc_Qf54b5aTshxY-ho9drT4c4ICLdOLBoC8YcQAvD_BwE'
driver.maximize_window() 
driver.get(url) #accessing the url on web driver
i=0
while(i<10):
    driver.execute_script("window.scrollBy(0,100)") # scroll down to get access to data for scraping
    i+=1

In [44]:
#Storing the required urls for web scraping in a list
n= ['https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=BOM-Mumbai,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/4/2022&arrDT=undefined&isOneway=true&isDomestic=false']
# /html/body/form/div[5]/div/div[3]/div[1]/div[7]/input

In [39]:
airline = [] #empty list to contain all the scraped airline names
fltnum= []  #empty list to contain all the scraped airline flight numbers
src= [] #empty list to contain all the scraped airline flight route data
deptdate = [] #empty list to contain all the scraped airline flight departure dates
stops= [] #empty list to contain all the scraped airline flight total stops
duration= [] #empty list to contain all the scraped airline flight duration
price= [] #empty list to contain all the scraped airline flight ticket price

In [31]:
for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [32]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("/html/body/form/div[9]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [33]:
# Price = list(filter(None, price))#removing blank elements from list

In [34]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [100]:
#Creating FlightDF Data Frame with the scraped data
FlightDF2= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})

In [101]:
FlightDF2

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-5023,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
1,Indigo,6E-6814,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
2,AirAsia,I5-764,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
3,Indigo,6E-2112,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
4,GO FIRST,G8- 530,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...
197,Vistara,UK-817,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,07h 20m,1-stop,"27,795"
198,Vistara,UK-807,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,13h 35m,1-stop,"27,795"
199,Air India,AI-767,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,08h 05m,1-stop,
200,Air India,AI-465,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,17h 10m,1-stop,
201,Vistara,UK-817,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,05h 45m,1-stop,"31,050"

In [102]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?org=BOM-Mumbai,%20India%20,&dept=DEL-Delhi,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/4/2022&arrDT=undefined&isOneway=true&isDomestic=false']
# /html/body/form/div[5]/div/div[3]/div[1]/div[7]/input

In [103]:
for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [104]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("/html/body/form/div[9]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [105]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [106]:
print(len(airline),len(fltnum),len(deptdate),len(source),len(dest),len(duration),len(stops),len(price))

383 383 383 383 383 383 383 383

In [107]:
#Creating FlightDF Data Frame with the scraped data
FlightDF3= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})

In [108]:
FlightDF3

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-5023,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
1,Indigo,6E-6814,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
2,AirAsia,I5-764,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
3,Indigo,6E-2112,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
4,GO FIRST,G8- 530,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...
378,Air India,AI-607,Apr 29\n7308\nApr 30\n5595\nMay 01\n7307\nMay ...,Mumbai,Delhi,16h 15m,1-stop,
379,Air India,AI-639,Apr 29\n7308\nApr 30\n5595\nMay 01\n7307\nMay ...,Mumbai,Delhi,06h 10m,1-stop,
380,Air India,AI-639,Apr 29\n7308\nApr 30\n5595\nMay 01\n7307\nMay ...,Mumbai,Delhi,15h 00m,1-stop,
381,Vistara,UK-853,Apr 29\n7308\nApr 30\n5595\nMay 01\n7307\nMay ...,Mumbai,Delhi,06h 25m,1-stop,"31,038"
382,Vistara,UK-865,Apr 29\n7308\nApr 30\n5595\nMay 01\n7307\nMay ...,Mumbai,Delhi,15h 30m,1-stop,"34,188"

In [109]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=GOI-Goa,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/4/2022&arrDT=undefined&isOneway=true&isDomestic=false']
# /html/body/form/div[5]/div/div[3]/div[1]/div[7]/input

In [110]:
for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [111]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("/html/body/form/div[9]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [112]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [113]:
print(len(airline),len(fltnum),len(deptdate),len(source),len(dest),len(duration),len(stops),len(price))

499 499 499 499 499 499 499 499

In [114]:
#Creating FlightDF Data Frame with the scraped data
FlightDF4= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})
FlightDF4

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-5023,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
1,Indigo,6E-6814,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
2,AirAsia,I5-764,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
3,Indigo,6E-2112,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
4,GO FIRST,G8- 530,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...
494,Vistara,UK-977,Apr 29\n8159\nApr 30\n8158\nMay 01\n7422\nMay ...,Delhi,Goa,17h 50m,1-stop,"27,270"
495,Vistara,UK-955,Apr 29\n8159\nApr 30\n8158\nMay 01\n7422\nMay ...,Delhi,Goa,19h 00m,1-stop,"27,270"
496,Vistara,UK-807,Apr 29\n8159\nApr 30\n8158\nMay 01\n7422\nMay ...,Delhi,Goa,17h 25m,1-stop,"28,425"
497,Vistara,UK-813,Apr 29\n8159\nApr 30\n8158\nMay 01\n7422\nMay ...,Delhi,Goa,20h 30m,1-stop,"28,425"
498,Vistara,UK-817,Apr 29\n8159\nApr 30\n8158\nMay 01\n7422\nMay ...,Delhi,Goa,22h 00m,1-stop,"28,425"

In [115]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=BLR-Bangalore,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/4/2022&arrDT=undefined&isOneway=true&isDomestic=false']
# /html/body/form/div[5]/div/div[3]/div[1]/div[7]/input

In [116]:
for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [117]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("/html/body/form/div[9]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [118]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [119]:
#Creating FlightDF Data Frame with the scraped data
FlightDF5= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})
FlightDF5

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-5023,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
1,Indigo,6E-6814,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
2,AirAsia,I5-764,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
3,Indigo,6E-2112,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
4,GO FIRST,G8- 530,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...
675,SpiceJet,SG- 751,Apr 29\n8159\nApr 30\n8159\nMay 01\n8159\nMay ...,Delhi,Bangalore,26h 35m,1-stop,"25,658"
676,Air India,AI-877,Apr 29\n8159\nApr 30\n8159\nMay 01\n8159\nMay ...,Delhi,Bangalore,09h 30m,1-stop,
677,AirAsia,I5-767,Apr 29\n8159\nApr 30\n8159\nMay 01\n8159\nMay ...,Delhi,Bangalore,08h 05m,2+-stop,"26,172"
678,Air India,AI-805,Apr 29\n8159\nApr 30\n8159\nMay 01\n8159\nMay ...,Delhi,Bangalore,13h 10m,1-stop,
679,Air India,AI-605,Apr 29\n8159\nApr 30\n8159\nMay 01\n8159\nMay ...,Delhi,Bangalore,13h 55m,1-stop,

In [125]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?org=BOM-Mumbai,%20India%20,&dept=GOI-Goa,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/4/2022&arrDT=undefined&isOneway=true&isDomestic=false']
# /html/body/form/div[5]/div/div[3]/div[1]/div[7]/input

In [126]:
for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [127]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("/html/body/form/div[9]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [128]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [129]:
print(len(airline),len(fltnum),len(deptdate),len(source),len(dest),len(duration),len(stops),len(price))

845 845 845 845 845 845 845 845

In [130]:
#Creating FlightDF Data Frame with the scraped data
FlightDF6= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})
FlightDF6

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-5023,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
1,Indigo,6E-6814,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
2,AirAsia,I5-764,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
3,Indigo,6E-2112,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
4,GO FIRST,G8- 530,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...
840,Vistara,UK-988,Apr 29\n5891\nApr 30\n5101\nMay 01\n4263\nMay ...,Mumbai,Goa,24h 25m,1-stop,"23,478"
841,Vistara,UK-988,Apr 29\n5891\nApr 30\n5101\nMay 01\n4263\nMay ...,Mumbai,Goa,16h 55m,1-stop,"24,738"
842,GO FIRST,G8- 341,Apr 29\n5891\nApr 30\n5101\nMay 01\n4263\nMay ...,Mumbai,Goa,16h 40m,1-stop,"25,183"
843,Air India,AI-625,Apr 29\n5891\nApr 30\n5101\nMay 01\n4263\nMay ...,Mumbai,Goa,26h 20m,2+-stop,
844,AirAsia,I5-338,Apr 29\n5891\nApr 30\n5101\nMay 01\n4263\nMay ...,Mumbai,Goa,11h 45m,1-stop,"25,709"

In [132]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=PAT-Patna,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/4/2022&arrDT=undefined&isOneway=true&isDomestic=false']
# /html/body/form/div[5]/div/div[3]/div[1]/div[7]/input

In [133]:
for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [134]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("/html/body/form/div[9]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [135]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [136]:
#Creating FlightDF Data Frame with the scraped data
FlightDF7= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})
FlightDF7

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-5023,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
1,Indigo,6E-6814,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
2,AirAsia,I5-764,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
3,Indigo,6E-2112,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
4,GO FIRST,G8- 530,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...
879,SpiceJet,SG- 711,Apr 29\n6269\nApr 30\n6689\nMay 01\n6269\nMay ...,Delhi,Patna,19h 10m,1-stop,"25,453"
880,Air India,AI-805,Apr 29\n6269\nApr 30\n6689\nMay 01\n6269\nMay ...,Delhi,Patna,10h 20m,1-stop,
881,Air India,AI-811,Apr 29\n6269\nApr 30\n6689\nMay 01\n6269\nMay ...,Delhi,Patna,37h 50m,2+-stop,
882,Air India,AI-605,Apr 29\n6269\nApr 30\n6689\nMay 01\n6269\nMay ...,Delhi,Patna,11h 05m,1-stop,
883,SpiceJet,SG- 537,Apr 29\n6269\nApr 30\n6689\nMay 01\n6269\nMay ...,Delhi,Patna,21h 20m,1-stop,"30,000"

In [137]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=CCU-Kolkata,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/4/2022&arrDT=undefined&isOneway=true&isDomestic=false']
# /html/body/form/div[5]/div/div[3]/div[1]/div[7]/input

In [138]:
for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [139]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("/html/body/form/div[9]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [140]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [141]:
#Creating FlightDF Data Frame with the scraped data
FlightDF8= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})
FlightDF8

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-5023,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
1,Indigo,6E-6814,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
2,AirAsia,I5-764,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
3,Indigo,6E-2112,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
4,GO FIRST,G8- 530,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...
992,Vistara,UK-955,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Kolkata,15h 55m,1-stop,"35,670"
993,Vistara,UK-637,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Kolkata,16h 30m,2+-stop,"37,980"
994,Vistara,UK-813,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Kolkata,16h 05m,2+-stop,"47,745"
995,Vistara,UK-817,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Kolkata,17h 35m,2+-stop,"47,745"
996,Vistara,UK-817,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Kolkata,17h 35m,2+-stop,"51,000"

In [142]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=PNQ-Pune,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/4/2022&arrDT=undefined&isOneway=true&isDomestic=false']
# /html/body/form/div[5]/div/div[3]/div[1]/div[7]/input

In [143]:
for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [144]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("/html/body/form/div[9]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [145]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [146]:
#Creating FlightDF Data Frame with the scraped data
FlightDF9= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})
FlightDF9

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-5023,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
1,Indigo,6E-6814,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
2,AirAsia,I5-764,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
3,Indigo,6E-2112,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
4,GO FIRST,G8- 530,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...
1046,GO FIRST,G8- 113,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Pune,13h 45m,1-stop,"17,400"
1047,Indigo,6E-6939,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Pune,04h 45m,1-stop,"17,872"
1048,SpiceJet,SG- 724,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Pune,07h 20m,1-stop,"18,082"
1049,AirAsia,I5-1529,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Pune,13h 50m,1-stop,"19,469"
1050,GO FIRST,G8- 119,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Pune,10h 15m,1-stop,"20,340"

In [147]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=PNQ-Pune,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/4/2022&arrDT=undefined&isOneway=true&isDomestic=false']
# /html/body/form/div[5]/div/div[3]/div[1]/div[7]/input

In [148]:
for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [149]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("/html/body/form/div[9]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [150]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [151]:
#Creating FlightDF Data Frame with the scraped data
FlightDF10= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})
FlightDF10

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-5023,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
1,Indigo,6E-6814,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
2,AirAsia,I5-764,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
3,Indigo,6E-2112,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
4,GO FIRST,G8- 530,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...
1100,GO FIRST,G8- 113,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Pune,13h 45m,1-stop,"17,400"
1101,Indigo,6E-6939,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Pune,04h 45m,1-stop,"17,872"
1102,SpiceJet,SG- 724,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Pune,07h 20m,1-stop,"18,082"
1103,AirAsia,I5-1529,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Pune,13h 50m,1-stop,"19,469"
1104,GO FIRST,G8- 119,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Pune,10h 15m,1-stop,"20,340"

In [152]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?org=BOM-Mumbai,%20India%20,&dept=BLR-Bangalore,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/4/2022&arrDT=undefined&isOneway=true&isDomestic=false']
# /html/body/form/div[5]/div/div[3]/div[1]/div[7]/input

In [153]:
for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [154]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("/html/body/form/div[9]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [155]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [156]:
#Creating FlightDF Data Frame with the scraped data
FlightDF11= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})
FlightDF11

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-5023,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
1,Indigo,6E-6814,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
2,AirAsia,I5-764,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
3,Indigo,6E-2112,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
4,GO FIRST,G8- 530,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...
1264,Vistara,UK-970,Apr 29\n6258\nApr 30\n6257\nMay 01\n6257\nMay ...,Mumbai,Bangalore,10h 05m,1-stop,"29,883"
1265,Vistara,UK-970,Apr 29\n6258\nApr 30\n6257\nMay 01\n6257\nMay ...,Mumbai,Bangalore,11h 40m,1-stop,"29,883"
1266,Vistara,UK-994,Apr 29\n6258\nApr 30\n6257\nMay 01\n6257\nMay ...,Mumbai,Bangalore,12h 55m,1-stop,"30,408"
1267,Air India,AI-888,Apr 29\n6258\nApr 30\n6257\nMay 01\n6257\nMay ...,Mumbai,Bangalore,17h 30m,1-stop,
1268,Vistara,UK-653,Apr 29\n6258\nApr 30\n6257\nMay 01\n6257\nMay ...,Mumbai,Bangalore,12h 15m,1-stop,"32,876"

In [157]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?org=CCU-Kolkata,%20India%20,&dept=DEL-Delhi,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/4/2022&arrDT=undefined&isOneway=true&isDomestic=false']
# /html/body/form/div[5]/div/div[3]/div[1]/div[7]/input

In [158]:
for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [159]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("/html/body/form/div[9]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [160]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [161]:
#Creating FlightDF Data Frame with the scraped data
FlightDF12= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})
FlightDF12

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-5023,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
1,Indigo,6E-6814,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
2,AirAsia,I5-764,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
3,Indigo,6E-2112,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
4,GO FIRST,G8- 530,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...
1417,Air India,AI-785,Apr 29\n7872\nApr 30\n7871\nMay 01\n7241\nMay ...,Kolkata,Delhi,15h 55m,1-stop,
1418,Vistara,UK-772,Apr 29\n7872\nApr 30\n7871\nMay 01\n7241\nMay ...,Kolkata,Delhi,13h 25m,1-stop,"34,122"
1419,Vistara,UK-772,Apr 29\n7872\nApr 30\n7871\nMay 01\n7241\nMay ...,Kolkata,Delhi,11h 10m,1-stop,"35,802"
1420,Vistara,UK-772,Apr 29\n7872\nApr 30\n7871\nMay 01\n7241\nMay ...,Kolkata,Delhi,13h 25m,1-stop,"35,802"
1421,Vistara,UK-772,Apr 29\n7872\nApr 30\n7871\nMay 01\n7241\nMay ...,Kolkata,Delhi,12h 00m,1-stop,"39,372"

In [162]:
FlightDF12.to_csv('FlightDataWebscrape.csv') # Saving as .csv file

In [163]:
FlightDF12

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-5023,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
1,Indigo,6E-6814,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 05m,non-stop,"7,319"
2,AirAsia,I5-764,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
3,Indigo,6E-2112,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
4,GO FIRST,G8- 530,Apr 29\n7319\nApr 30\n7318\nMay 01\n7318\nMay ...,Delhi,Mumbai,02h 10m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...
1417,Air India,AI-785,Apr 29\n7872\nApr 30\n7871\nMay 01\n7241\nMay ...,Kolkata,Delhi,15h 55m,1-stop,
1418,Vistara,UK-772,Apr 29\n7872\nApr 30\n7871\nMay 01\n7241\nMay ...,Kolkata,Delhi,13h 25m,1-stop,"34,122"
1419,Vistara,UK-772,Apr 29\n7872\nApr 30\n7871\nMay 01\n7241\nMay ...,Kolkata,Delhi,11h 10m,1-stop,"35,802"
1420,Vistara,UK-772,Apr 29\n7872\nApr 30\n7871\nMay 01\n7241\nMay ...,Kolkata,Delhi,13h 25m,1-stop,"35,802"
1421,Vistara,UK-772,Apr 29\n7872\nApr 30\n7871\nMay 01\n7241\nMay ...,Kolkata,Delhi,12h 00m,1-stop,"39,372"