In [108]:
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import StaleElementReferenceException ,ElementNotInteractableException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
import os
import warnings
warnings.filterwarnings('ignore')

### Q 1Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank          B) Name           C) Artist        D) Upload date          E) Views

In [486]:
driver=webdriver.Chrome(os.getcwd()+"\chromedriver.exe")

In [487]:
#send get request to web page server for source code
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos '
page= requests.get(url)
#see page content
soup= BeautifulSoup(page.content)
driver.get(url)
driver.maximize_window()

In [488]:
# fetaching details of all the rank contain in table column
Rank=[]
Name=[]
Artist=[]
Date=[]
Views=[]

try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('---')
    
#fetching details of names in videos
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('---')
    
#fetching Artist of the videos
try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('---')
    
#fetching Date of the videos
try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('---')
    
#fetching Views of the videos
try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]'):
        Views.append(i.text)
except NoSuchElementException:
    Views.append('---')

In [489]:
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Date':Date,'Views':Views})

# Removing stray numbers from Name column
df.Name = df.Name.apply(lambda x:x[:-4].strip('"'))
df

,Rank,Name,Artist,Date,Views
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.23
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.75
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.18
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.62
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.42
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",5.01
6,7.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.56
7,8.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.48
8,9.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.48
9,10.,Uptown Funk,Mark Ronson,"November 19, 2014",4.47
10,11.,Gangnam Style,Psy,"July 15, 2012",4.35
11,12.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.86
12,13.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.70
13,14.,Sugar,Maroon 5,"January 14, 2015",3.65
14,15.,Roar,Katy Perry,"September 5, 2013",3.53
15,16.,Sorry,Justin Bieber,"October 22, 2015",3.51
16,17.,Counting Stars,OneRepublic,"May 31, 2013",3.51
17,18.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.41
18,19.,Girls Like You,Maroon 5,"May 31, 2018",3.24
19,20.,Axel F,Crazy Frog,"June 16, 2009",3.24
20,21.,Faded,Alan Walker,"December 3, 2015",3.23
21,22.,Dark Horse,Katy Perry,"February 20, 2014",3.23
22,23.,Let Her Go,Passenger,"July 25, 2012",3.18
23,24.,Bailando,Enrique Iglesias,"April 11, 2014",3.17
24,25.,Lean On,Major Lazer,"March 22, 2015",3.17
25,26.,Shake It Off,Taylor Swift,"August 18, 2014",3.15
26,27.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.14
27,28.,Perfect,Ed Sheeran,"November 9, 2017",3.10
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.06
29,30.,Mi Gente,J Balvin,"June 29, 2017",3.04

#### Q2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [490]:
driver=webdriver.Chrome(os.getcwd()+"\chromedriver.exe")

In [491]:
url=('https://www.bcci.tv/international/fixtures')
page=requests.get(url)
soup=BeautifulSoup(page.content)
driver.get(url)
driver.maximize_window()

In [492]:
cookies=driver.find_element_by_xpath('//button[@class="cookie__accept btn btn-primary"]')
cookies.click()

In [494]:
# Empty lists
Match_title=[]
Series=[]
Place=[]
Date=[]
Matchtime=[]
Datetime=[]

#fetching match title details
for i in driver.find_elements_by_xpath("//span[@class='ng-binding']"):
    Match_title.append(i.text)   

#fetching series details
for i in driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']"):
    Series.append(i.text)

#fetching place of the match
for i in driver.find_elements_by_xpath("//span[@class='ng-binding ng-scope']"):
    Place.append(i.text)

#fetching place of the match    
for i in driver.find_elements_by_xpath("//div[@class='match-top-info d-flex align-items-center justify-content-between']"):
    Datetime.append(i.text.replace('\n',' '))

    
Date=[i.split(' ',3)[:3] for i in Datetime]
Date=[' '.join(i) for i in Date]
Matchtime=[i.split(' ',3)[-1] for i in Datetime]

# Creating data frame
Match_info=pd.DataFrame({'Match Title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Matchtime})
Match_info

,Match Title,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF NEW ZEALAND ODI SERIES 2022,5th ODI -,"John Davies Oval,",24 FEB 2022,3:30 AM IST
1,SRI LANKA TOUR OF INDIA T20 SERIES 2022,1st T20I -,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,24 FEB 2022,7:00 PM IST
2,SRI LANKA TOUR OF INDIA T20 SERIES 2022,2nd T20I -,"Himachal Pradesh Cricket Association Stadium,",26 FEB 2022,7:00 PM IST
3,SRI LANKA TOUR OF INDIA T20 SERIES 2022,3rd T20I -,"Himachal Pradesh Cricket Association Stadium,",27 FEB 2022,7:00 PM IST
4,SRI LANKA TOUR OF INDIA TEST SERIES 2022,1st Test -,"Punjab Cricket Association IS Bindra Stadium,",4 MAR 2022,9:30 AM IST
5,ICC WOMENS WORLD CUP 2022,1st ODI -,"Bay Oval,",6 MAR 2022,6:30 AM IST
6,ICC WOMENS WORLD CUP 2022,2nd ODI -,"Seddon Park,",10 MAR 2022,6:30 AM IST
7,SRI LANKA TOUR OF INDIA TEST SERIES 2022,2nd Test -,"M Chinnaswamy Stadium,",12 MAR 2022,12:30 PM IST

### Q4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [495]:
driver=webdriver.Chrome(os.getcwd()+"\chromedriver.exe")

In [496]:
#send get request to web page server for source code
url=('http://statisticstimes.com/')
page=requests.get(url)
#see page content
soup=BeautifulSoup(page.content)
driver.get(url)
driver.maximize_window()

In [500]:
# fetch for Economy button
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button").click()

#India
driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

#fetching on GDP of Indian Economy
GDP=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [501]:
# Creating empty list
rank=[]
state=[]
GSDP1=[]
GSDP2=[]
share=[]
GDP_billion=[]

#Scraping for Rank
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]"):
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
    
#Scraping for state
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]"):
        state.append(i.text)
except NoSuchElementException:
    state.append('-')
    
#Scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append('-')
    
#Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append('-')
    
#Scraping Share (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
        share.append(i.text)
except NoSuchElementException:
    share.append('-')
    
# Scraping GDP $ billion
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append('-')
    
# Creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank']=rank
GDP['State']=state
GDP['GSDP(19-20)']=GSDP1
GDP['GSDP(18-19)']=GSDP2
GDP['Share']=share
GDP['GDP($ billion)']=GDP_billion
GDP

,Rank,State,GSDP(19-20),GSDP(18-19),Share,GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

## Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [213]:
driver=webdriver.Chrome(os.getcwd()+"\chromedriver.exe")

In [214]:
url=' https://www.guru99.com/'
driver.get(url)

In [215]:
driver.maximize_window()

In [216]:
#clicking selenium
selenium=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
try:
    selenium.click()
except ElementNotInteractableException:
    pass

#clicking on tutorial
tutorial=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
try:
    tutorial.click()
except ElementNotInteractableException:
    pass

In [217]:
#Empty list
Name=[]
Des=[]

#fetching foe exception names
for i in driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]'):
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('---')

#fetching for description
for i in driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]'):
    try:
        Des.append(i.text)
    except NoSuchElementException:
        Des.append('---')

In [218]:
df=pd.DataFrame({'Exception Name':Name,'Description':Des})
df

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

## Q5 Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [227]:
driver=webdriver.Chrome(os.getcwd()+"\chromedriver.exe")

In [228]:
url=('https://github.com/')
driver.get(url)
driver.maximize_window()

In [229]:
#clicking explore
explore=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore.click()

In [230]:
#clicking trending o get details
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
trending.click()

In [248]:
#empty list
Repo_title=[]
Repo_desc=[]
Count=[]
Language_used=[]

#fetching data for repositry titles
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")[:20]:
    try:
        Repo_title.append(i.text)
    except NoSuchElementException:
        Repo_title.append('-')

#fetching details of repositary description
for i in driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")[:20]:
    try:
        Repo_desc.append(i.text)
    except NoSuchElementException:
        Repo_desc.append('-')
Repo_desc    


for i in driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/a[2]')[:20]:
    try:
        Count.append(i.text)
    except NoSuchElementException:
        Count.append('-')
Count

#Scraping for langauge used
for i in driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']"):
    try:
        Language_used.append(i.text)
    except NoSuchElementException:
        Language_used.append('-')

In [249]:
print(len(Repo_title),len(Repo_desc),len(Count),len(Language_used))
Github=pd.DataFrame({'Repository title':Repo_title,'Repository description':Repo_desc,'Contribution Count':Count,'Language used':Language_used})
Github

20 20 20 20

,Repository title,Repository description,Contribution Count,Language used
0,Anduin2017 / HowToCook,程序员在家做饭方法指南。Programmer's guide about how to co...,"1,121",Clojure
1,penpot / penpot,Penpot - The Open-Source design & prototyping ...,393,Python
2,commaai / openpilot,openpilot is an open source driver assistance ...,"6,064",C++
3,danistefanovic / build-your-own-x,🤓 Build your own (insert technology here),"12,421",Python
4,midisec / BypassAnti-Virus,免杀姿势学习、记录、复现。,40,JavaScript
5,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,"30,290",Python
6,iamadamdev / bypass-paywalls-chrome,Bypass Paywalls web browser extension for Chro...,"1,630",Cuda
7,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...,"9,559",TypeScript
8,myugan / awesome-cicd-security,📚 A curated list of awesome CI CD security res...,15,C
9,NVlabs / instant-ngp,Instant neural graphics primitives: lightning ...,311,C#
10,supabase / supabase,The open source Firebase alternative. Follow t...,"1,611",C
11,helloexp / 0day,各种CMS、各种平台、各种系统、各种软件漏洞的EXP、POC 该项目将不断更新,286,Rust
12,coding-horror / basic-computer-games,"An updated version of the classic ""Basic Compu...",749,C#
13,Cracked5pider / ShellcodeTemplate,An easily modifiable shellcode template for Wi...,20,Dockerfile
14,TheAlgorithms / Rust,All Algorithms implemented in Rust,702,Java
15,microsoft / reverse-proxy,A toolkit for developing high-performance HTTP...,445,Python
16,lwthiker / curl-impersonate,curl-impersonate: A special compilation of cur...,24,Ruby
17,GrowingGit / GitHub-Chinese-Top-Charts,🇨🇳 GitHub中文排行榜，各语言分离设置「软件 / 资料」榜单，精准定位中文好项目。各取...,"6,367",Go
18,brohrer / sharpened_cosine_similarity_torch,A Sharpened Cosine Similarity layer for PyTorch,14,Python
19,evilbuffer / malware-and-exploitdev-resources,A complete computer science study plan to beco...,17,Python

## 6.Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.
7.

In [419]:
driver=webdriver.Chrome(os.getcwd()+"\chromedriver.exe")

In [420]:
url=('https://www.billboard.com/')
driver.get(url)

In [421]:
chart=driver.find_element_by_xpath('//li[@class="o-nav__list-item lrv-u-align-items-center lrv-u-flex"]')
chart.click()

In [422]:
hot100=driver.find_element_by_xpath('//a[@class="c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark"]')
hot100.click()

In [483]:
#creating empty list for scraping data
song=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

song1=[]
song2=[]
#fetching the songs list
for i in driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light  lrv-u-padding-l-1@mobile-max']/h3"):
     song1.append(i.text)


#fetching the songs list
for i in driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-padding-l-050 lrv-u-padding-l-1@mobile-max']/h3"):
     song2.append(i.text)
        
song=song1+song2

Artist_name1=[]
Artist_name2=[]
#Scraping data of artist names
for i in driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']"):
    Artist_name1.append(i.text)

for i in driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']"):
    Artist_name2.append(i.text)

Artist_name=Artist_name1+Artist_name2


#Scraping data of last week rank
for i in driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max'][1]"):
    Last_week_rank.append(i.text)


#Scraping data of week on board
for i in driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max'][2]"):
    Weeks_on_board.append(i.text)

#Scraping data of Peak rank
for i in driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max']/span"):
    Peak_rank.append(i.text)

In [484]:
print(len(song),len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Weeks_on_board))

100 100 100 100 100

In [485]:
Hot100_songs=pd.DataFrame({'Song Name':song,'Artist Name':Artist_name,'Last week rank':Last_week_rank,'Peak Rank':Peak_rank,'Weeks on board':Weeks_on_board})
Hot100_songs

,Song Name,Artist Name,Last week rank,Peak Rank,Weeks on board
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,8
1,Heat Waves,Glass Animals,4,2,57
2,Easy On Me,Adele,3,1,19
3,abcdefu,GAYLE,7,4,13
4,Stay,The Kid LAROI & Justin Bieber,5,1,32
...,...,...,...,...,...
95,All Too Well (Taylor's Version),Taylor Swift,84,1,14
96,Come Back As A Country Boy,Blake Shelton,89,85,5
97,Iffy,Chris Brown,96,71,5
98,Home Sweet,Russell Dickerson,94,88,5
99,Too Easy,Gunna & Future,92,16,16

## 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [511]:
driver=webdriver.Chrome(os.getcwd()+"\chromedriver.exe")

In [512]:
#loading the url
url=('https://www.naukri.com/hr-recruiters-consultants')
driver.get(url)
driver.maximize_window()

In [513]:
#scraping for data science keyword
search=driver.find_element_by_xpath('//div[@class="inpWrap"]/input')
search.send_keys('Data science')

In [514]:
#clicking on search button
btn=driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
btn.click()

In [517]:
#empty list
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

#scraping for recruiters name
try:
    for i in driver.find_elements_by_xpath('//span[@class="fl ellipsis"]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

#scraping for recruiters designation
try:
    for i in driver.find_elements_by_xpath('//span[@class="ellipsis clr"]'):
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('-')    

    
#scraping for companies of the recruiters
try:
    for i in driver.find_elements_by_xpath('//div[@class="vcard"]/p/a[2]'):
        Company.append(i.text)
except NoSuchElementException:
    Company.append('-')

#scraping for recruiters skills
try:
    for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):
        Skills.append(i.text)
except NoSuchElementException:
    Skills.append('-')

#scraping for recruiters location
soup=BeautifulSoup(driver.page_source,'html.parser')

l=soup.find_all('div',attrs={'vcard'})

for i in l:
    try:
        Location.append(i.find('small').text)
    except AttributeError :
        Location.append("No details available")

In [518]:
print(len(Name),len(Designation),len(Company),len(Skills),len(location))

50 50 50 50 50

In [519]:
Recruiters=pd.DataFrame({'Name':Name,'Designation':Designation,'Company':Company,'Skills':Skills,'Location':Location})
Recruiters

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",No details available
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",No details available
48,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

## 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [207]:
driver=webdriver.Chrome(os.getcwd()+"\chromedriver.exe")

In [208]:
Url = ('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver.get(Url)

In [209]:
Book_name=[]
Author_name=[]
Volumnes_sold=[]
Publisher=[]
Genre=[]

#fetching book name details
for i in driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]'):
    Book_name.append(i.text)

#fetching for author names    
for i in driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]'):
    Author_name.append(i.text)  

#fetching for number of book sold    
for i in driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]'):
    Volumnes_sold.append(i.text)

#fetching for publishers name
for i in driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]'):
    Publisher.append(i.text)

#fetching for Genre    
for i in driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]'):
    Genre.append(i.text)

In [210]:
Details=pd.DataFrame({'Book Name':Book_name,'Author Name':Author_name,'Volumnes Sold':Volumnes_sold,'Genre':Genre})
Details

,Book Name,Author Name,Volumnes Sold,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805","Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Romance & Sagas
...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Food & Drink: General

## 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [129]:
driver=webdriver.Chrome(os.getcwd()+"\chromedriver.exe")

In [130]:
Url = ('https://www.imdb.com/list/ls095964455/')
driver.get(Url)

In [144]:
#Creating empty lists.
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

#Scraping data of Names
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

#Fetching Year span details
for i in driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]'):
    Year_span.append(i.text)

#Fetching data for genre
for i in driver.find_elements_by_xpath('//span[@class="genre"]'):
    Genre.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]'):
    Ratings.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements_by_xpath('//div[@class="lister-item-content"]//p[4]/span[2]'):
    Votes.append(i.text)
    
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))
IMDB=pd.DataFrame({'Name':Name,'Year span':Year_span,'Genre':Genre,'Run time':Run_time,'Ratings':Ratings,'Votes':Votes})
IMDB

100 100 100 100 100 100

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,953,456"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"963,905"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"930,263"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"278,638"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"238,826"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,706"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,435"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"185,237"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,169"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"221,416"

## 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [502]:
driver=webdriver.Chrome(os.getcwd()+"\chromedriver.exe")

In [503]:
url=('https://archive.ics.uci.edu/')
driver.get(url)

In [505]:
driver.maximize_window()

In [506]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b'))).click()

In [507]:
Name=[]
Data_type=[]
task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [508]:
#Searching all the dataset name tags
name=driver.find_elements_by_xpath("//p[@class='normal']/b/a")[:623]

#scraping dataset name from tags
for i in name:
    Name.append(i.text.replace('\n',' '))

#finding all the datatype tags
datatype = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
#scraping datatype from tags
for i in datatype:
    Data_type.append(i.text.replace('\n',' '))

#finding all the task tags
Task = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
#scraping task from tags
for i in Task:
    task.append(i.text)
    
#finding all the attribute tags
attribute = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
#scraping attribute type from tags
for i in attribute:
    Attribute_type.append(i.text)
    
#finding all the instances tags
instance= driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')

#scraping number of instances from tags
for i in instance:
    No_of_instances.append(i.text)
    
#finding all the number of attributes tags
Attribute=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
#scraping number of attributes from tags
for i in Attribute:
    No_of_attribute.append(i.text)
    
#finding all the number of attributes tags
year=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
#scraping year from tags
for i in year:
    Year.append(i.text)

In [509]:
print(len(Name),len(Data_type),len(task),len(Attribute_type),len(No_of_instances),len(No_of_attribute),len(Year))

622 623 623 623 623 623 623

In [510]:
#creating the dataframe
data=pd.DataFrame({})
data['Dataset_name']=Name
data['Data_type']=Data_type[1:]
data['Task']=task[1:]
data['Attribute_type']=Attribute_type[1:]
data['No_of_instances']=No_of_instances[1:]
data['No_of_attribute']=No_of_attribute[1:]
data['Year']=Year[1:]

data

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021